/* Variables globales */
:root {
  /* Couleurs */
  --primary-color: #0077ff;
  --secondary-color: #646cff;
  --text-color: #ffffff;
  --background-color: #242424;

  /* Polices */
  --font-primary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Styles globaux */
body {
  /* Vos styles existants */
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Liens */
a {
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* Boutons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--secondary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* En-têtes */
h2 {
  color: white !important; /* Couleur du texte */
  font-size: 50px !important; /* Taille de la police */
  margin-bottom: 10px !important; /* Marge inférieure */
}

/* Footer */
.footer {
  background-color: var(--primary-color);
  padding: 20px;
  color: #343a40;
}

.smaller-image {
  width: 8%;
  height: auto;
}

/* Médias requête */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 768px) {
  .icon img {
    width: 280px;
    height: 240px;
  }
}

@media (max-width: 480px) {
  .icon img {
    width: 200px;
    height: 180px;
  }
}
