/* Variables globales */
:root {
  /* Couleurs */
  --primary-color: #0077ff;
  --secondary-color: #646cff;
  --text-color: #ffffff;
  --background-color: #242424;

  /* Polices */
  --font-primary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Styles globaux */
body {
  /* Vos styles existants */
  display: flex;
  flex-direction: column; /* Pour centrer verticalement les éléments */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black !important;
}

/* Liens */
a {
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* Boutons */
.centered-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 70%; /* Modifier cette valeur selon votre préférence */
  left: 50%;
  transform: translate(-50%, -50%);
}

#buttonContainer button {
  font-size: 20px; /* Taille de police plus grande */
  margin: 50px; /* Ajouter de la marge horizontale entre les boutons */
}

#buttonContainer {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/LOGO_NEGATIF.png");
  background-repeat: no-repeat; /* Évite que l'image de fond se répète */
  background-position: center; /* Centre l'image de fond horizontalement et verticalement */
}

#buttonContainer button {
  font-size: 20px; /* Taille de police plus grande */
  padding: 10px 20px; /* Padding plus important autour du texte */
}

/* En-têtes */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: rgb(0, 0, 0) !important; /* Couleur du texte */
  font-size: 50px !important; /* Taille de la police */
  margin-bottom: 10px !important; /* Marge inférieure */
}

/* Pour agrandir la taille de la police du paragraphe spécifique */
.bigger-font-size {
  font-size: 1.2em; /* Changer la taille de la police selon vos besoins */
}

/* Logos */
.logo {
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  width: 30vw; /* Le logo occupera 50% de la largeur de l'écran */
}

/* Rectangles */
.rectangle {
  background-color: #808080;
  width: 30vw;
  height: 9vh;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin: 0 auto; /* Pour centrer le rectangle horizontalement */
  margin-bottom: 1%;
}

.rectangle p {
  font-size: 2.5vw;
  margin: 0;
  padding-bottom: 0.5vh;
  border-bottom: 0.1vh solid black;
  white-space: nowrap;
}
.content {
  max-width: 80%; /* Reduire la taille de la div de texte */
  margin: auto; /* Centrer la div horizontalement */
  text-align: center; /* Centrer le texte à l'intérieur de la div */
}

/* Conteneurs */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

/* Icônes */
.icon {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5%;
}

.icon img {
  width: 340px;
  height: 300px;
}

.description {
  font-size: 40px;
}

/* Ajouter ces styles pour déplacer le h2 au-dessus du paragraphe */
.col-md-6 {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.col-md-6 h2 {
  order: -1;
}

/* Footer */
.footer {
  background-color: var(--primary-color);
  padding: 20px;
  color: #343a40;
  width: 100% !important; /* Utilisation de !important pour écraser les autres règles */
  color: white;
  padding: 20px; /* Ajustez le padding selon vos besoins */
}

.smaller-image {
  width: 8%;
  height: auto;
}

/* Médias requête */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 480px) {
  img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .icon img {
    width: 280px;
    height: 240px;
  }
}

@media (max-width: 480px) {
  .icon img {
    width: 200px;
    height: 180px;
  }
}

/* Déplacement du h2 au-dessus du p */
.m-4 {
  text-align: center;
  font-size: 20px;
}

.fullscreen-div {
  height: 100vh; /* Prendre la hauteur de l'écran */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-family: Arial, sans-serif;
}

.first-div {
  background-color: #ff00ff; /* Couleur flashy */
  margin-bottom: 5%;
}

.second-div {
  background-color: #00ffff; /* Couleur flashy */
}

.imgcontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.left-side,
.right-side {
  flex: 1;
  padding: 20px;
}
.button {
  display: block;
  margin-bottom: 10px;
}
.approve-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
}
.delete-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  margin-top: 5px;
  display: block;
}
.image-container {
  display: flex;
  align-items: center;
}
.image {
  width: 100px; /* Largeur de l'image */
  height: auto; /* Hauteur proportionnelle à la largeur */
  margin-right: 10px;
}

.residentiel,
.industirel,
.evenementiel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.image-container {
  display: flex;
  flex-direction: column; /* Mettre les éléments en colonne */
}

.image-container h3 {
  text-align: center; /* Centrer le titre */
  margin-bottom: 10px; /* Ajouter de l'espace en dessous du titre */
}

.image-wrapper {
  display: flex;
  flex-direction: column; /* Mettre les éléments en colonne */
  align-items: center;
}

.image {
  width: 100px;
  height: auto;
  margin-bottom: 5px; /* Espacement entre l'image et le bouton */
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: block;
}
